* {
    margin: 0;
    padding: 0
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden
}

body {
    position: relative;
    font-family: "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: 2;
    color: #555;
    background: #fff;
    text-align: center
}

li {
    list-style: none
}

.flex {
    display: flex
}

.flex-1 {
    flex: 1 1 0
}

.flex-column {
    flex-flow: column
}

#container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.header-box {
    height: 80px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 3px 6px 0 rgba(92, 142, 247, .2)
}

#container {
    height: 100%
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .01)
}

.main-content {
    height: calc(100% - 80px)
}

.main-content .main-left {
    width: 220px;
    height: 100%;
    box-shadow: 4px 4px 6px 0 rgba(40, 50, 57, .1)
}

.main-content .main-right {
    margin: 10px;
    background: #f5f8fd
}

.main-left .menu {
    height: 102px;
    z-index: 1;
    align-items: center;
    justify-content: center
}

.main-left .menu:hover {
    color: #108ee9
}

.main-left.expend {
    margin-left: 0;
    opacity: 1;
    transition: all .3s cubic-bezier(.42, 0, .58, 1)
}

.main-left.collapse {
    margin-left: -220px;
    opacity: 0;
    transition: all .3s cubic-bezier(.42, 0, .58, 1)
}

.header-box .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(../images/daisies.png);
    background-repeat: no-repeat;
    background-size: 80px 80px
}

.header-box .avatar:hover {
    filter: opacity(50%)
}

.header-box .shrink-box {
    width: 220px;
    height: 100%;
    font-size: 18px;
    align-items: center;
    justify-content: center
}

.header-box .shrink-box:active,
.header-box .shrink-box:focus,
.header-box .shrink-box:hover {
    color: #5c8ef7;
    background: #f6f8fa
}

.navigation-menu li,
.navigation-menu-two li {
    width: 44px;
    height: 50px;
    font-size: 22px;
    color: #555;
    transition: font-size .25s ease-out 0s;
    -webkit-transition: font-size .25s ease-out 0s;
    -moz-transition: font-size .25s ease-out 0s;
    text-align: center;
    line-height: 2.27
}

.navigation-menu li:hover,
.navigation-menu-two li:hover {
    font-size: 44px;
    line-height: 1.13
}

.main-left-content>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px
}

.main-left-content>ul>li:hover {
    color: #108ee9
}

#links {
    margin-top: 20px
}

#links a {
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 61px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 15px
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center
}

#footer span {
    color: rgba(255, 255, 255, .5);
    font-size: 12px;
    vertical-align: -10px;
    width: 100%
}

#footer b {
    cursor: pointer;
    float: right;
    padding-top: 10px
}

.ad_76090 {
    width: 760px;
    height: 90px;
    margin: 0 auto
}

.hidden {
    display: none
}

.anticon {
    cursor: pointer
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 99;
    justify-content: center;
    align-items: center
}

.modal-head {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9
}

.github-modal {
    width: 366px;
    height: 200px;
    background: #fff;
    border-radius: 4px;
    position: absolute
}

.article-modal {
    width: 566px;
    height: 366px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    display: flex;
    flex-direction: column
}

.article-modal .modal-body {
    padding: 10px;
    justify-content: space-between
}

.article-modal .modal-body>div {
    border: 1px solid #d9d9d9
}

.article-modal .article-category {
    flex: 1;
    margin-right: 5px
}

.article-modal .article-preview {
    flex: 3
}

.article-category ul {
    padding: 10px
}

.article-category li {
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #d9d9d9
}

.article-category li:hover {
    color: #fff;
    background: #225fe4;
    opacity: .3
}

.modal-body {
    padding: 0;
    text-align: center;
    display: flex;
    flex: 1 1 0
}

.modal-body .modal-title {
    padding: 5px;
    font-size: 16px;
    text-align: center
}

.modal-body video {
    width: 270px;
    height: 150px;
    border-radius: 10px;
    margin: 5px;
    outline: 0
}

.modal-close {
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 1.8;
    border-radius: 50%;
    background: #d9d9d9;
    opacity: .6
}

.modal-close:hover {
    color: #fff;
    background: #fd1e1e
}