* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background_video {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%;
    width: 100%;
}

#video_cover {
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url('video/Dc.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#video_controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#play img {
    width: 100px;
}

#pause img {
    width: 90px;
}

#pause {
    display: none;
}

@media (min-width: 768px) {
    #video_controls {
        display: none;
    }
}

/* Demo page specific styles */

body {
    text-align: center;
    font-family: 'proxima-nova', Helvetica;
}

#container {
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.01);
}

#main_content {
    z-index: 2;
    position: relative;
    display: inline-block;

    /* Vertical center */
    top: 50%;
    transform: translateY(-50%);
}

#main_content .menu {
    position: absolute;
    left: calc(50% - 166px);
    bottom: calc(50% - 80px);
    border-radius: 10px;
    z-index: 1;
}

.min_head {
    width: 400px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    left: calc(50% - 200px);
    top: calc(50% - 100px);
    border-radius: 10px;
}

.min_head .avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('../images/daisies.png');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    filter: opacity(50%);
}

.navigation_menu {
    display: flex;
    list-style-type: none;
}

.navigation_menu li {
    width: 44px;
    height: 50px;
    font-size: 22px;
    color: rgb(51, 51, 51);
    transition: font-size 0.25s ease-out 0s;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
}

.navigation_menu li:hover {
    font-size: 44px;
}

#links {
    margin-top: 20px;
}

#links a {
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 61px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 15px;
}


#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}

#footer span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    vertical-align: -10px;
    width: 100%;
}

#footer b {
    cursor: pointer;
    float: right;
    padding-top: 10px;
}

.ad_76090 {
    width: 760px;
    height: 90px;
    margin: 0 auto;
}

.hidden {
    display: none
}

@media screen and (min-width: 320px) and (max-width : 480px) {
    #main_content {
        top: 60%;
    }

    #main_content h1 {
        font-size: 1.2rem
    }

    html {
        -webkit-text-size-adjust: none;
    }

    .ad_76090,
    .ad_demo {
        width: 100%;
        height: auto;
        margin: 20px auto;
        text-align: center
    }
}

.anticon {
    cursor: pointer;
}