* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background_video {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%;
    width: 100%;
}

#video_cover {
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url('video/Dc.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#video_controls {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#play img {
    width: 100px;
}

#pause img {
    width: 90px;
}

#pause {
    display: none;
}

@media (min-width: 768px) {
    #video_controls {
        display: none;
    }
}

/* Demo page specific styles */

body {
    text-align: center;
    font-family: 'proxima-nova', Helvetica;
}

#container {
    height: 100%;
}

#overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.01);
}

#main_content {
    z-index: 2;
    position: relative;
    display: inline-block;

    width: 100%;
    height: 100%;
}

#main_content .menu {
    position: absolute;
    left: calc(50% - 177px);
    bottom: calc(50% - 80px);
    border-radius: 10px;
    z-index: 1;
}

.min_head {
    width: 400px;
    height: 200px;
    background: rgba(255, 255, 255, 0.2);
    position: absolute;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.min_head .avatar {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url('../images/daisies.png');
    background-repeat: no-repeat;
    background-size: 80px 80px;
    filter: opacity(50%);
}

.navigation_menu {
    display: flex;
    list-style-type: none;
}

.navigation_menu li {
    width: 44px;
    height: 50px;
    font-size: 22px;
    color: rgb(51, 51, 51);
    transition: font-size 0.25s ease-out 0s;
    -webkit-transition: font-size 0.25s ease-out 0s;
    -moz-transition: font-size 0.25s ease-out 0s;
    text-align: center;
    line-height: 2.27;
}

.navigation_menu li:hover {
    font-size: 44px;
    line-height: 1.13;
}

#links {
    margin-top: 20px;
}

#links a {
    border: 2px solid rgba(255, 255, 255, 0.20);
    border-radius: 61px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-right: 15px;
}


#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}

#footer span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    vertical-align: -10px;
    width: 100%;
}

#footer b {
    cursor: pointer;
    float: right;
    padding-top: 10px;
}

.ad_76090 {
    width: 760px;
    height: 90px;
    margin: 0 auto;
}

.hidden {
    display: none
}

@media screen and (min-width: 320px) and (max-width : 480px) {
    #main_content {
        top: 60%;
    }

    #main_content h1 {
        font-size: 1.2rem
    }

    html {
        -webkit-text-size-adjust: none;
    }

    .ad_76090,
    .ad_demo {
        width: 100%;
        height: auto;
        margin: 20px auto;
        text-align: center
    }
}

.anticon {
    cursor: pointer;
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

/** 模态框 样式**/

.modal-head {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.github-modal {
    width: 366px;
    height: 200px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
}

.article-modal {
    width: 566px;
    height: 366px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.article-modal .modal-body {
    padding: 10px;
    justify-content: space-between;
}

.article-modal .modal-body>div {
    border: 1px solid #D9D9D9;
}

.article-modal .article-category {
    flex: 1;
    margin-right: 5px;
}

.article-modal .article-preview {
    flex: 3;
}

.article-category ul {
    padding: 10px;
}

.article-category li {
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid #d9d9d9;
}

.article-category li:hover {
    color: #FFF;
    background: #225fe4;
    opacity: .3;
}

.modal-body {
    padding: 0;
    text-align: center;
    display: flex;
    flex: 1 1 0;
}

.modal-body .modal-title {
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.modal-body video {
    width: 270px;
    height: 150px;
    border-radius: 10px;
    margin: 5px;
    outline: none;
}

.modal-close {
    width: 29px;
    height: 29px;
    text-align: center;
    line-height: 1.8;
    border-radius: 50%;
    background: #d9d9d9;
    opacity: .6;
}

.modal-close:hover {
    color: #FFF;
    background: rgb(253, 30, 30);
}