.container {
    min-width: 1024px;
    height: 100%;
    margin: 0 auto；
}

.box {
    width: 800px;
    height: 600px;
    text-align: center;
    line-height: 60px;
}

.header {
    width: 100%;
    height: 60px;
    background: orange;
}

.content {
    position: relative;
    width: 700px;
    margin: 0 auto;
}

.content-body {
    position: relative;
    width: 100%;
    height: 400px;
    background: olive;
}

.content-footer {
    position: relative;
    height: 60px;
    background: orangered;
    width: 100%;
}