<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板一</title>
    <link rel="stylesheet" href="template-one.css">
</head>

<body>
    <div class="container">
        <div class="box">
            <header class="header"></header>
            <div class="content">
                <div class="content-header" id="slideshow">
                    <div id="list" style="left: -700px;">
                        <img src="../../images/banner/banner05.jpg" alt="1" />
                        <img src="../../images/banner/banner01.jpg" alt="1" />
                        <img src="../../images/banner/banner02.jpg" alt="2" />
                        <img src="../../images/banner/banner03.jpg" alt="3" />
                        <img src="../../images/banner/banner04.jpg" alt="4" />
                        <img src="../../images/banner/banner05.jpg" alt="5" />
                        <img src="../../images/banner/banner01.jpg" alt="5" />
                    </div>
                    <div id="buttons">
                        <span index="1" class="on"></span>
                        <span index="2"></span>
                        <span index="3"></span>
                        <span index="4"></span>
                        <span index="5"></span>
                    </div>
                    <a href="javascript:;" id="prev" class="arrow">&lt;</a>
                    <a href="javascript:;" id="next" class="arrow">&gt;</a>
                </div>
                <div class="content-min">
                    <div  class="content-describe">
                        <ul>
                            <li></li>
                        </ul>
                    </div>
                </div>
            </div>
            <footer class="footer"></footer>
        </div>
    </div>
    <script src="template-one.js"></script>
</body>

</html>